.ico-arrow-cat { width: 6px; height: 7px; background-position: 0px 0px; }
.ico-arrow-link-gray { width: 8px; height: 11px; background-position: -11px 0px; }
.ico-arrow-link-red { width: 8px; height: 11px; background-position: -24px 0px; }
.ico-footer-clock { width: 24px; height: 23px; background-position: -37px 0px; }
.ico-footer-mail { width: 24px; height: 21px; background-position: -66px 0px; }
.ico-footer-pin { width: 24px; height: 23px; background-position: -95px 0px; }
.ico-footer-tel { width: 24px; height: 21px; background-position: -124px 0px; }
.ico-mail { width: 13px; height: 10px; background-position: -153px 0px; }
.ico-phone { width: 12px; height: 13px; background-position: -171px 0px; }
.ico-price-red { width: 19px; height: 17px; background-position: -188px 0px; }
.ico-price-red2 { width: 19px; height: 17px; background-position: -212px 0px; }
.ico-size-gray { width: 16px; height: 15px; background-position: -236px 0px; }
.ico-size-white { width: 16px; height: 16px; background-position: -257px 0px; }
.ico-slider-left-gray { width: 8px; height: 11px; background-position: -278px 0px; }
.ico-slider-right-gray { width: 8px; height: 11px; background-position: -291px 0px; }
.ico-top-arrow { width: 14px; height: 9px; background-position: -304px 0px; }
.logo-footer { width: 110px; height: 46px; background-position: -323px 0px; }
.logo { width: 245px; height: 118px; background-position: -438px 0px; }
.slider-arrow-left { width: 8px; height: 11px; background-position: -688px 0px; }
.slider-arrow-right { width: 8px; height: 11px; background-position: -701px 0px; }
.socials-facebook { width: 7px; height: 33px; background-position: -714px 0px; }
.socilas-mail { width: 15px; height: 22px; background-position: -726px 0px; }
